
ul.nav.navbar-nav
  li(class=(title == 'simple-attack') ? 'active' : undefined)
    a(href='/simple-attack') Simple Attack
  li(class=(title == 'attack-with-credentials') ? 'active' : undefined)
    a(href='/attack-with-credentials') Attack with credentials
  li(class=(title == 'Contact') ? 'active' : undefined)
    a(href='/contact') Contact
  li
    a(href='/status') Status
