
ul.nav.navbar-nav
  li(class=(title == 'simple-attack') ? 'active' : undefined)
    a(href='/') Simple Attack
  li(class=(title == 'API Examples') ? 'active' : undefined)
    a(href='/api') API Examples
  li(class=(title == 'Contact') ? 'active' : undefined)
    a(href='/contact') Contact
  li
    a(href='/status') Status
