extends ../layout

block content
  include base-attack-nav
  .page-header
    h3 Attack with credentials

  h3 Response
  div.csrfContainer
  
  script(src='/js/attack-with-credentials.js')






  