-
  // Server side config - Standard constants that are used across demos 
  var repoId = "b464143e-a69b-4893-addd-29ccf6b0026e";
  var accountName = "test";
  var projectName = "OrgSearch";
  var favoriteArtifactId = "e436e95b-a029-4edf-a27e-8de65c279cad";

script.
  // Client side config
  var repoId = "#{repoId}";
  var accountName = "#{accountName}";
  var projectName = "#{projectName}";
  var artifactId = "#{favoriteArtifactId}";

script(src='/js/lib/jquery-3.1.1.min.js')

ul.nav.navbar-nav
  li(class=(title == 'simple-attack') ? 'active' : undefined)
    a(href='/simple-attack') Simple Attack
  li(class=(title == 'attack-with-credentials') ? 'active' : undefined)
    a(href='/attack-with-credentials') Attack with credentials
  li(class=(title == 'cors-without-credentials') ? 'active' : undefined)
    a(href='/cors-without-credentials') CORS without credentials
  li(class=(title == 'form-post-csrf') ? 'active' : undefined)
    a(href='/form-post-csrf') Form Post CSRF
