extends layout

block content
  include partials/attacknav
  script(src='/js/lib/jquery-3.1.1.min.js')
  script(src='/js/cors-without-credentials.js')
  .page-header
    h3 CORS without credentials

  h3 Response
  div.csrfContainer
  






  